
#main .wf-wrap {
    width: 100%;
}

#wpaz-3d-tours-layout .container {
    width: 100%;
}

#wpaz-toolbar {
    margin-bottom: 10px;
}


/*************************
 *    NOTES CONTAINER    *
 *************************/

#wpaz-notes-container {
    padding: 10px;
}

#action-status-box {
    margin-top: 10px;
    padding: 10px;
}

.notes-button {
    margin-left: 5px;
    margin-right: 5px;
}

#scene-actions .list-group {
    margin: 0px;
}

#buttons-container {
    height: 55px;
}

#wpaz-notes-container .dropdown {
    margin: 10px 0px 10px 0px
}
#wpaz-notes-container .dropdown-menu {
    list-style: none;
}

#wpaz-notes-container .saving-status {
    font-size: medium;
    font-style: italic;
}

/***********************************************
 *         NOTES TIMELINE                      *
 ***********************************************/
.note-actions {
    margin-left: 15px;
}

/************************************************
 * LOADING from http://tobiasahlin.com/spinkit/ *
 ************************************************/

/* spinner for main element */

.wpaz-spinner {
    width: 40px;
    height: 40px;

    position: relative;
    margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}

