
#main .wf-wrap {
    width: 100%;
}

#wpaz-3d-tours-layout .container {
    width: 100%;
}

#wpaz-toolbar {
    margin-bottom: 10px;
}

#wpaz-notes-container {
    padding: 10px;
}

#callback-alert-box {
    margin-top: 10px;
    padding: 10px;
}

.notes-button {
    margin-left: 5px;
    margin-right: 5px;
}

#scene-actions .list-group {
    margin: 0px;
}

#buttons-container {
    height: 55px;
}