
/* CSS THEME HACKS - NEED CHANGING IF THEME CHANGES - REPLACE WITH BETTER SOLUTION*/

#main .wf-wrap {
    width: 100%;
}

#wpaz-3d-notes-layout .container {
    width: 100%;
}

.page-title {
    display: none;
}

#sidebar {
    display:none;
}

.content {
    width: 100%;
}

.single-share-box {
    display: none;
}

/* END HACKS */

#wpaz-toolbar {
    margin-bottom: 10px;
}

#scene-controls-container {
    margin-left: 15px;
}
.scene-controls {
    display: inline-block;
}


/*********************************
 *         Modal popup           *
 *********************************/
.modal {
    top: 25%;
}

.modal-error {
    color: red;
}

#image-upload {
    margin: 10px;
}

.modal-image-properties {
    display:inline-block;
}

.modal-image-properties .form-group {
    display: inline-block;
    width: 50%;
}
.modal-image-properties .form-control {
    margin: 10px;
    width: 90%;
}
.modal-image-properties .image-thumbnail {
    width: 50%;
    padding: 5px;
}

.modal-annotations .form-control{
    margin: 10px;
    width: 90%;
}

.modal-actions {
    margin: 10px;
}

.modal-actions .dropdown-menu {
    list-style: none;
}

/******************************
 *    MODEL CANVAS OVERLAY    *
 ******************************/
.myCanvas {
    position:absolute;
    top: 0;
    border:1px solid #000000;
}

.canvas-container {
    position: absolute !important;
    top: 0;
    left: 0;
    margin-right: 15px;
    margin-left: 15px;
}

/* MODE INFO OVERLAY */

#wpaz-mode-info {
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    color: blue;
    border: 2px solid;
    margin: 10px;
    margin-right: 20px;
    padding: 5px;
}

/* IMAGE EDITOR */

#wpaz-image-editor-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 30px;
    margin-top: 10px;
    z-index: 50;
}

#drawing-mode-options {
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 30px;
    margin-top: 10px;
    padding: 10px;
    z-index: 50;
    border: 1px solid grey;
}

#drawing-mode-options label {
    display: inline-block;
    width: 100px;
}

#drawing-options-top-panel {
    margin-bottom: 10px;
}

.change-line-width, .change-line-opacity {
    margin: 10px;
}

#drawing-line-width, #drawing-line-opacity {
    font-size: medium;
}

.change-line-width:hover {
    color: #00a3df;
}


/*************************
 *    NOTES CONTAINER    *
 *************************/

#wpaz-notes-container {
}

.chapter-nav:hover {
    cursor: pointer;
    color: #337ab7;
}

#note-properties {
    margin-bottom: 5px;
}

#action-status-box {
    margin-top: 10px;
    padding: 10px;
}

.notes-button {
    margin-left: 5px;
    margin-right: 5px;
}

.linked-scene {
    text-decoration: underline;
}

.linked-scene:hover {
    text-decoration: none;
    cursor: pointer;
}

/* TOOLBAR BUTTONS */

#scene-actions .list-group {
    margin: 0px;
}

#buttons-container {
    height: 55px;
}

#wpaz-notes-container .dropdown-menu {
    list-style: none;
}

#snapshot-dropdown {
    min-width: 0px
}

#snapshot-dropdown li:hover {
    cursor: pointer;
}

#wpaz-notes-container .update-status {
    font-size: medium;
    font-style: italic;
}

#toolbar-buttons {
    padding: 0px;
}

.toolbar-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

/****************************************
 *            SCENE SELECTOR            *
 ****************************************/

#wpaz-scene-selector {
    margin-top: 10px;
    margin-bottom: 10px;
}

#wpaz-scene-selector .dropdown-menu {
    list-style: none;
}

#wpaz-scene-selector .dropdown-menu:hover {
    cursor: pointer;
}

/***********************************************
 *         NOTES TIMELINE                      *
 ***********************************************/
.note-actions {
    margin-left: 15px;
}

.note-title:hover {
    cursor: pointer;
}

/* icon hover animation */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    cursor: pointer;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.note-images img {
    border: solid 2px rgba(132, 132, 132, 0.2);
    margin-bottom: 10px;
}

/* image editor toolbar */
.tool-container .arrow {
    display: none;
}

/***************************************
 *              MODULES                *
 ***************************************/

/* My Notes */

#wpaz-my-notes {
    min-height: 600px;
}

#wpaz-my-notes .my-notes-filters {
    margin-top: 10px;
    margin-bottom: 10px;
}

#wpaz-my-notes ul {
    list-style: none;
}

/* Presentation */
#presentation-overlay {
    background: #000000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999 !important;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#presentation-toolbar {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 9999;
}

/***** RANGE SLIDER ******/

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 8.75px 0;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2.5px;
    cursor: pointer;
    box-shadow: 0px 0px 0.2px #000000, 0px 0px 0px #0d0d0d;
    background: #28746d;
    border-radius: 1.3px;
    border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 9px;
    border-radius: 5px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8.75px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #2f877f;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 2.5px;
    cursor: pointer;
    box-shadow: 0px 0px 0.2px #000000, 0px 0px 0px #0d0d0d;
    background: #28746d;
    border-radius: 1.3px;
    border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 9px;
    border-radius: 5px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 2.5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #21615b;
    border: 0px solid #010101;
    border-radius: 2.6px;
    box-shadow: 0px 0px 0.2px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #28746d;
    border: 0px solid #010101;
    border-radius: 2.6px;
    box-shadow: 0px 0px 0.2px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 9px;
    border-radius: 5px;
    background: #ffffff;
    cursor: pointer;
    height: 2.5px;
}
input[type=range]:focus::-ms-fill-lower {
    background: #28746d;
}
input[type=range]:focus::-ms-fill-upper {
    background: #2f877f;
}



/************************************************
 * LOADING from http://tobiasahlin.com/spinkit/ *
 ************************************************/

/* spinner for main element */

.wpaz-loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.wpaz-spinner {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}

